

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
}

.hero-portada img{
    width: 100%;
}

.main-news-section{
    width: 100%;
}

.main-news-section h2{
    margin-top: 5rem;
}
.main-news-section h3{
    margin-top: 1rem;
    font-size: 2.5rem;
}

.contact-section {
    display: flex;
    width: 100%;
    background-color: #d7dad9;
    padding: 2rem 0 2rem 0;
    margin-top: 5rem;
}

.contact-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img info"
    "img info";
    align-items: center;
}

.contact-item img{
    grid-area: img;
    width: 12rem;
}

.contact-item div{
    grid-area: info;
}
.contact-item div p:nth-child(1){
    font-weight: bold;
    text-decoration: underline;
}