*{
    font-family: "roboto", sans-serif;
}

main{
    max-width: 1200px;
    margin: 0  auto;
}

.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
}

.hero__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__info{
    align-self: center;
    padding: 50px;
    text-align: start;
}

.hero__info h1{
    color: rgb(254, 113, 37);
    font-weight: 700;
}

.hero__info a{
    padding: 7px;
    font-size: 20px;
    background-color: rgb(254, 113, 37);
    text-decoration: none;
    color: azure;
    border-radius: 3px;

}



.dishes h2{
    text-align: center;;
}

.dishes-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: 
        "big big img1 img2"
        "big big img3 img4"
    ;
    gap: 26px;
}

.dishes-item__big{
    grid-area: big;
}

.dish-1{
    grid-area: img1;
}


.dish-2{
    grid-area: img2;
}

.dish-3{
    grid-area: img3;
}

.dish-4{
    grid-area: img4;
}

.dishes-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}